%nav.navbar.navbar-expand-lg.bg-body-teriary
  .container-fluid
    = link_to 'Andy Davis', root_path, class: 'navbar-brand h1'
    = button_to '#', class: "navbar-toggler",
                     data: { bs_toggle: "collapse", bs_target: "#navbarContent" },
                     aria: { controls: 'navbarContent', expanded: 'false', label: 'Toggle navigation' } do
      %span.navbar-toggler-icon

    #navbarContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0.d-flex.justify-content-end
        %li.nav-item= link_to 'About Me', '#', class: 'nav-link'
        %li.nav-item= link_to 'Contact info', '#', class: 'nav-link'
        %li.nav-item= link_to 'Resume', '#', class: 'nav-link'
        %li.nav-item= link_to 'Cityscape', cityscape_path, class: 'nav-link'
        %li.nav-item= link_to 'Academic Experiences', user_academic_experiences_path(current_user), class: 'nav-link'
