%canvas#desk_canvas
-# TODO: Lazy Load iframes
#screen_overlay.cli-container
  .cli-header
    %span Terminal - Andy's Portfolio
    %button.btn.btn-sm.btn-danger{:onclick => "document.getElementById('monitor').classList.add('d-none')"} ✕
  .cli-body
    #cli-output
      %p $ dir
      .project-list
        - @projects.each_with_index do |project, index|
          .project-item{"data-project" => "#{project[:name]}"}
            %img.thumbnail{:alt => "#{project[:name]} thumbnail", :src => "#{asset_path(project[:thumbnail])}"}/
            %span= project[:name]
            %p= project[:description]
    #cli-input
      %span $
      %input#cli-command{:placeholder => "Type 'launch <project>' or click a project", :type => "text"}/
    #website-display.d-none
      #terminal-output
      %iframe#website-iframe.w-100{:height => "600px", :style => "border: none;"}



= javascript_tag "import 'desk'", type: :module
